version: '3'

services:
  camera:
    build: .
    volumes:
      - /home/pi/:/home/pi/
    devices:
      - /dev/vchiq:/dev/vchiq
    ports:
      - 8080:80
    command: python /PiCameraNotifier/main.py
    privileged: true
    tty: true
