version: '3'

services:
  camera:
    container_name: camera
    build: 
      context: .
      dockerfile: Dockerfile
    volumes:
      - /opt/vc:/opt/vc
    devices:
      - "/dev/vchiq:/dev/vchiq"
    ports:
      - 8080:80
    environment:
       LD_LIBRARY_PATH: /opt/vc/lib
    command: python PiCameraNotifier/main.py
    privileged: true
    tty: true
